<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Granota</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LayoutNonReg.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <h1><a asp-area="" asp-controller="Landing" asp-action="Landing_reg">Granota</a></h1>
        <ul class="header center-btns">
            <li><a asp-area="" asp-controller="Landing" asp-action="HomePage">Home</a></li>
            <li><a asp-area="" asp-controller="Landing" asp-action="Restaurant_menu">Menu</a></li>
            
            <li><a asp-area="" asp-controller="OwnerProfile" asp-action="owner_profile">OProfile</a></li>
            <li><a asp-area="" asp-controller="RegProfile" asp-action="reg_profile">RegProfile</a></li>
            <li><a asp-area="" asp-controller="Landing" asp-action="Landing_nonReg">Logout</a></li>
        </ul>
        <ul class="header left-btns">
            <li><a href="#">Search</a></li>
            <li><a asp-area="" asp-controller="Cart" asp-action="cart">Cart</a></li>
        </ul>
    </header>

    <main role="main" class="pb-3">
            @RenderBody()
    </main>

    <footer>
        <h1><a asp-area="" asp-controller="Landing" asp-action="Landing_reg">Granota</a></h1>
        <ul class="header center-btns">
            <li><a asp-area="" asp-controller="Landing" asp-action="HomePage">Home</a></li>
            <li><a asp-area="" asp-controller="Landing" asp-action="Restaurant_menu">Menu</a></li>
            <li><a asp-area="" asp-controller="OwnerProfile" asp-action="owner_profile">OProfile</a></li>
            <li><a asp-area="" asp-controller="RegProfile" asp-action="reg_profile">RegProfile</a></li>
            <li><a asp-area="" asp-controller="Landing" asp-action="Landing_nonReg">Logout</a></li>
        </ul>
        <ul class="header left-btns">
            <li><a href="#">Search</a></li>
            <li><a asp-area="" asp-controller="Cart" asp-action="cart">Cart</a></li>
        </ul>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
