@{
    ViewData["Title"] = "Home Page";
    Layout = "LayoutNonReg";
}
<link rel="stylesheet" href="~/css/Landing.css" asp-append-version="true" />
<script src="/js/landing.js"></script>
<main>
    <div class="red-bckgrnd-row">
        <div class="red-bckgrnd-row col-1">
            <h1>Best Local Food in Granota</h1>
            <p>
                Granota is a courier service in which authentic home cook food is
                delived to a customer
            </p>
        </div>
        <div class="red-bckgrnd-row col-2">
            <img src="~/pics/chef.png" alt="" />
        </div>
    </div>
    <ul class="inline-nav">
        <li class="active"><a href="#">All</a></li>
        <li><a href="#">Offers</a></li>
        <li><a href="#">Free Delivery</a></li>
        <li><a href="#">New</a></li>
        <li><a href="#">Coming</a></li>
    </ul>
    <div class="ProductCards">
        <div class="ProductCards Card">
            <img src="/pics/1.png" alt="" style="width: 100%" />
            <h3>Home Made Pizza</h3>
            <p class="price">$19.99</p>
            <p><button onclick="addToCart()">+</button></p>
        </div>
        <div class="ProductCards Card">
            <img src="/pics/2.png" alt="" style="width: 100%" />
            <h3>Home Made Pizza</h3>
            <p class="price">$19.99</p>
            <p><button onclick="addToCart()">+</button></p>
        </div>
        <div class="ProductCards Card">
            <img src="/pics/3.png" alt="" style="width: 100%" />
            <h3>Home Made Pizza</h3>
            <p class="price">$19.99</p>
            <p><button onclick="addToCart()">+</button></p>
        </div>
        <div class="ProductCards Card">
            <img src="/pics/4.png" alt="" style="width: 100%" />
            <h3>Home Made Pizza</h3>
            <p class="price">$19.99</p>
            <p><button onclick="addToCart()">+</button></p>
        </div>
        <div class="ProductCards Card">
            <img src="/pics/5.png" alt="" style="width: 100%" />
            <h3>Home Made Pizza</h3>
            <p class="price">$19.99</p>
            <p><button onclick="addToCart()">+</button></p>
        </div>
        <div class="ProductCards Card">
            <img src="/pics/6.png" alt="" style="width: 100%" />
            <h3>Home Made Pizza</h3>
            <p class="price">$19.99</p>
            <p><button onclick="addToCart()">+</button></p>
        </div>
        <div class="ProductCards Card">
            <img src="/pics/7.png" alt="" style="width: 100%" />
            <h3>Home Made Pizza</h3>
            <p class="price">$19.99</p>
            <p><button onclick="addToCart()">+</button></p>
        </div>
    </div>
    <div class="askQuestion">
        <form action="" class="questionForm">
            <h1>Do you have a question or want to become a seller?</h1>
            <input type="text" placeholder="Your Name" />
            <input type="text" placeholder="Your E-mail" /><br /><br />
            <textarea name=""
                      id=""
                      cols="30"
                      rows="10"
                      placeholder="Your Message"></textarea><br />
            <input type="submit" value="Submit" />
        </form>
    </div>
</main>