@{
    ViewData["Title"] = "Owner Settings";
    Layout = "LayoutReg";
}
<link rel="stylesheet" href="~/css/OwnerProfile.css" asp-append-version="true" />
<script src="landing.js"></script>
<main class="main">
      <div class="img"></div>
      <ul class="inline-nav">
        <li><a asp-area="" asp-controller="OwnerProfile" asp-action="owner_profile">Profile</a></li>
        <li><a asp-area="" asp-controller="OwnerProfile" asp-action="owner_management">Management</a></li>
        <li><a asp-area="" asp-controller="OwnerProfile" asp-action="owner_orderHistory">Order History</a></li>
        <li class="active"><a href="#">Settings</a></li>
    </ul>
      <div class="row-owner">
        <div class="row-owner col-1">
          <form action="">
            <h1>Your Restaurant</h1>
            <input type="text" placeholder="Restaurant Name" />
            <input type="text" placeholder="Address" />
            <input type="text" placeholder="Phone Number" />
            <input type="text" placeholder="Opening Hours" />
            <input type="text" placeholder="Joined Date" />
            <input type="submit" value="Edit" />
          </form>
        </div>
        <div class="row-owner col-2">
          <h1>Settings</h1>
          <input type="button" value="Open/Close Restaurant"/>
          <input type="button" value="Receiving Payment"/>
          <input type="button" value="Dashboard"/>
          <input type="button" value="Remove Bussiness Account"/>
        </div>
      </div>
    </main>