@{
    ViewData["Title"] = "Owner Order History";
    Layout = "LayoutReg";
}
<link rel="stylesheet" href="~/css/OwnerProfile.css" asp-append-version="true" />
<script src="/js/profile(owner).js"></script>
<main class="main">
    <div class="img"></div>
    <ul class="inline-nav">
        <li><a asp-area="" asp-controller="OwnerProfile" asp-action="owner_profile">Profile</a></li>
        <li><a asp-area="" asp-controller="OwnerProfile" asp-action="owner_management">Management</a></li>
        <li class="active"><a href="#">Order History</a></li>
        <li><a asp-area="" asp-controller="OwnerProfile" asp-action="owner_settings">Settings</a></li>
    </ul>
    <div class="row-owner">
        <div class="row-owner col-1">
            <form action="">
                <h1>Your Restaurant</h1>
                <input type="text" placeholder="Restaurant Name" />
                <input type="text" placeholder="Address" />
                <input type="text" placeholder="Phone Number" />
                <input type="text" placeholder="Opening Hours" />
                <input type="text" placeholder="Joined Date" />
                <input type="submit" value="Edit" />
            </form>
        </div>
        <div class="row-owner col-2">
            <form action="">
                <h1>Order History</h1>
                <table class="orderTable">
                    <tr>
                        <th>Order Name</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Complete</th>
                    </tr>
                    <tr>
                        <td>Big Mac</td>
                        <td>$12.99</td>
                        <td id="stat1">Waiting</td>
                        <td>
                            <button type="button"
                                    class="completeButton"
                                    id="btn1"
                                    onclick="test(this.id)">
                                complete
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Big Mac</td>
                        <td>$12.99</td>
                        <td id="stat2">Waiting</td>
                        <td>
                            <button type="button"
                                    class="completeButton"
                                    id="btn2"
                                    onclick="test(this.id)">
                                complete
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Big Mac</td>
                        <td>$12.99</td>
                        <td id="stat3">Waiting</td>
                        <td>
                            <button type="button"
                                    class="completeButton"
                                    id="btn3"
                                    onclick="test(this.id)">
                                complete
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Big Mac</td>
                        <td>$12.99</td>
                        <td id="stat4">Waiting</td>
                        <td>
                            <button type="button"
                                    class="completeButton"
                                    id="btn4"
                                    onclick="test(this.id)">
                                complete
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Big Mac</td>
                        <td>$12.99</td>
                        <td id="stat5">Waiting</td>
                        <td>
                            <button type="button"
                                    class="completeButton"
                                    id="btn5"
                                    onclick="test(this.id)">
                                complete
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</main>