@model Granota.Models.Products

@{
    ViewData["Title"] = "Owner Management";
    Layout = "LayoutReg";
}
<link rel="stylesheet" href="~/css/OwnerProfile.css" asp-append-version="true" />
<script src="/js/profile(owner).js"></script>
<main class="main">
    <div class="img">
    </div>
    <ul class="inline-nav">
        <li><a asp-area="" asp-controller="OwnerProfile" asp-action="owner_profile">Profile</a></li>
        <li class="active"><a href="#">Management</a></li>
        <li><a asp-area="" asp-controller="OwnerProfile" asp-action="owner_orderHistory">Order History</a></li>
        <li><a asp-area="" asp-controller="OwnerProfile" asp-action="owner_settings">Settings</a></li>
    </ul>
    <div class="row-owner">
        <div class="row-owner col-1">
            <form asp-action="owner_management">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h1>Items</h1>

 
                <input asp-for="ProductName" class="form-control" placeholder="Product Name" />
                <span asp-validation-for="ProductName" class="text-danger"></span>


                <input asp-for="ProductDescription" class="form-control" placeholder="Description" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>

                <input asp-for="ProductPrice" class="form-control" placeholder="Product Price" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>


                <input type="submit" value="Add" class="btn btn-primary" />
            </form>
        </div>
    </div>
    <div class="items">
        <table class="itemTable" id="itemTable">
            <tr>
                <th>Item Name</th>
                <th>Price</th>
                <th>ID</th>
            </tr>
            <tr>
                <td>Granota Burger da 90s</td>
                <td>$6.99</td>
                <td>#0001</td>
            </tr>
            <tr>
                <td>Granota Burger da 90s</td>
                <td>$6.99</td>
                <td>#0003</td>
            </tr>
            <tr>
                <td>Granota Burger da 90s</td>
                <td>$6.99</td>
                <td>#0004</td>
            </tr>

        </table>
    </div>
</main> 