@{
    ViewData["Title"] = "Forget Password?";
    Layout = "LayoutNonReg";
}
<main>
        <div class="red-bckgrnd-row">
            <div class="red-bckgrnd-row col-1">
                <h1>Best Local Food in Granota</h1>
                <p>Granota is a courier service in which authentic home cook food is delived to a customer</p>
            </div>
            <div class="red-bckgrnd-row col-2">
                <img src="chef.png" alt="">
            </div>
        </div>
        <div class="login-form">
            <form action="">
                <h1>Forget Your Password?</h1>
                <p>We are missing you, reset your password and get back here!</p>
                <input type="email" placeholder="email" />
                <input type="button" value="Send Code">
                <a href="reset-password.html">reset</a>
            </form>
        </div>
      </main>
