@{
    ViewData["Title"] = "Register";
    Layout = "LayoutNonReg";
}
<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
<script src="/js/login.js"></script>
<main>
    <div class="red-bckgrnd-row">
        <div class="red-bckgrnd-row col-1">
            <h1>Best Local Food in Granota</h1>
            <p>Granota is a courier service in which authentic home cook food is delived to a customer</p>
        </div>
        <div class="red-bckgrnd-row col-2">
            <img src="/pics/chef.png" alt="">
        </div>
    </div>
    <div class="login-form">
        <form action="">
            <h1>Sign Up</h1>
            <p>Sign up and hop on to the food journey!</p>
            <input type="text" placeholder="UserName" />
            <input type="password" placeholder="Password" />
            <input type="password" placeholder="Confirm Password" />
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="number" name="phone" id="phone" placeholder="Phone Number">
            <input type="radio" name="regCheck" id="ownerCheck" value="owner">
            <label for="ownerCheck">Owner</label>
            <input type="radio" name="regCheck" id="customerCheck" value="customer">
            <label for="customerCheck">Customer</label>
            <input type="button" value="Login">
        </form>
    </div>
</main>