@model Granota.Models.Buyer
@{
    ViewData["Title"] = "Register";
    Layout = "LayoutNonReg";
}
<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
<script src="/js/login.js"></script>
<main>
    <div class="red-bckgrnd-row">
        <div class="red-bckgrnd-row col-1">
            <h1>Best Local Food in Granota</h1>
            <p>Granota is a courier service in which authentic home cook food is delived to a customer</p>
        </div>
        <div class="red-bckgrnd-row col-2">
            <img src="/pics/chef.png" alt="">
        </div>
    </div>
    <div class="login-form">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h1>Sign Up</h1>
            <p>Sign up and hop on to the food journey!</p>
            
            <input asp-for="Name" class="form-control" placeholder="UserName" />
            <span asp-validation-for="Name" class="text-danger"></span>

            <input asp-for="Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>

            <input asp-for="Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>

            <input asp-for="Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>

            <input asp-for="Phone" class="form-control" placeholder="Phone Number"/>
            <span asp-validation-for="Phone" class="text-danger"></span>

            <input type="radio" name="regCheck" id="ownerCheck" value="owner">
            <label for="ownerCheck">Owner</label>

            <input type="radio" name="regCheck" id="customerCheck" value="customer">
            <label for="customerCheck">Customer</label>
            <input type="submit" value="Register" class="btn btn-primary" />
            <a asp-area="" asp-controller="Login" asp-action="Login"><input type="button" value="Sign Up"></a>
        </form>
    </div>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}