@{
    ViewData["Title"] = "Reset Password";
    Layout = "LayoutNonReg";
}
<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
<script src="/js/login.js"></script>
<main>
        <div class="red-bckgrnd-row">
            <div class="red-bckgrnd-row col-1">
                <h1>Best Local Food in Granota</h1>
                <p>Granota is a courier service in which authentic home cook food is delived to a customer</p>
            </div>
            <div class="red-bckgrnd-row col-2">
            <img src="/pics/chef.png" alt="">
        </div>
        </div>
        <div class="login-form">
            <form action="">
                <h1>Reset Your Password</h1>
                <p>Reset your password and come back to the gang, foodie!</p>
                <input type="password" placeholder="New Password" />
                <input type="password" placeholder="Confirm New Password" />
                <input type="text" placeholder="Reset Code" />
                <input type="button" value="Reset">
            </form>
        </div>
      </main>